@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --adm-color-primary: #005BAC;
}

.adm-button-fill-none {
  background-color: #ffffff !important;
  font-size: 14px !important;
}

.adm-pull-to-refresh{
  height: 100%;
}

.adm-popover-inner {
  border-radius: 2px !important;
}

.mask-with-header {
  padding-top: 0 !important;
}

.mask-with-header .adm-modal-header {
  background-color: #005BAC;
  color: #fff;
  padding: 0.5rem;
}

.mask-with-header .adm-modal-content {
  padding: 1.5rem;
}

.mask-with-header .adm-modal-header .adm-auto-center {
  justify-content: flex-start;
}

.adm-text-area-count {
  font-size: 0.875rem;
}

@layer components {
  .border-bottom-gray {
    @apply border-b-bor-gray1 border-b;
  }
  .border-top-gray {
    @apply border-t-bor-gray1 border-t;
  }
}
